html,body,div,header,main,article,footer,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd {
    margin:0;
    padding:0;
    font-size:15px;
    font-family:'Apple SD Gothic Neo','Malgun Gothic',sans-serif;
    letter-spacing:-.5px;
    color:#474747
}
html,body {
    box-sizing:border-box;
    height:100%;
}
h1,h2,h3,h4,h5,h6 {
    font-weight:normal
}
img {
    vertical-align:top
}
button {
    box-sizing:border-box;
    height:32px;
    line-height:32px;
    border-radius:8px;
    padding:0 8px;
    border:0 none;
    background-color:#22b8cf;
    color:#fff;
    cursor:pointer;
    outline:none
}
button:focus,
button:hover {
    background-color:skyblue
}
textarea {
    resize:none;
    border:0 none;
}