
.header-wrapper {
    z-index:1000;
    position:relative;
    padding:20px 30px;
    border-bottom:2px solid #fff;
    background:#22b8cf
}
.header__text {
    font-size:20px;
    letter-spacing:0;
    color:#fff
}
.header__info {
    position:absolute;
    right:20px;
    top:50%;
    height:40px;
    line-height:40px;
    transform:translateY(-50%);
}
.header__user-name {
    margin-right:10px;
    font-weight:bold;
    font-size:16px;
    letter-spacing:0;
    vertical-align:middle;
    color:#fff;
}
.header__thumb {
    display:inline-block;
    width:36px;
    height:36px;
    line-height:36px;
    padding:2px;
    border-radius:50%;
    vertical-align:middle;
    background:#fff
}
.header__user-img {
    width:36px;
    height:36px;
    border-radius:50%;
}
.container {
    position:relative;
    box-sizing:border-box;
    padding:0 0 0 160px;
    -webkit-transition:padding .5s;
    transition:padding .5s;
}
.memo-aside {
    position:fixed;
    left:0;
    top:0;
    width:160px;
    height:100%;
    background:#22b8cf;
    -webkit-transition:left .5s;
    transition:left .5s;
}
.memo-aside-area {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:67px;
    padding:30px 10px;
}
.memo-aside-area>div {
    padding-top:20px;
    border-top:1px solid #fff
}
.memo-aside-area>div:first-child {
    padding:0;
    border:0;
}
.footer-wrapper {
    z-index:100;
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:40px;
    line-height:40px;
    border-top:2px solid #fff;
    background:#22b8cf
}
.footer__copyright {
    font-size:13px;
    text-align:center;
    letter-spacing:0;
    color:#fff
}
.memo-write__action {
    position:absolute;
    top:6px;
    right:6px;
    height:0;
    opacity:0;
    -webkit-transition:height .5s, opacity .5s;
    transition:height .5s, opacity .5s;
}
.memo-write__action.on {
    height:auto;
    opacity:1;
}
.memo-write-save {
    height:28px;
    line-height:28px
}
.memo-modify-area {
    display:none;
    z-index:999;
    position:absolute;
    top:55px;
    right:25px;
    bottom:55px;
    left:25px;
}
.memo-modify-area .memo {
    float:none;
    width:auto;
    height:100%;
    margin:0;
}
.memo-modify-area .memo__body {
    padding:8px;
    height:calc(100% - 40px)
}